@import "@scss/colors.scss";

.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.inventoryForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
	padding: 1rem;
	background-color: $header-footer-background;
	border-radius: 0.75rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;

	.field {
		width: 100%;
		margin-bottom: 1.6rem;
		position: relative;

		.validationError {
			color: $error-color;
			font-size: 1.4rem;
			position: absolute;
			bottom: -1.6rem;
			left: 0;
		}
	}

	input,
	select {
		width: 100%;
		font-size: 1.6rem;
		padding: 0.75rem;
		border: 1px solid #ccc;
		border-radius: 0.5rem;
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		transition: border-color 0.3s ease;

		&:focus {
			border-color: $primary-color;
			outline: none;
		}
	}
}

.wrapper {
	width: 100%;
	overflow: auto;
	max-height: 226px;
	margin-bottom: 2rem;
}